//COLORS

//COLORS-NICYBUY
$nicyuby__gris-0: #EBEBEB;
$nicybuy__gris-1: #DEDEDE;
$nicybuy__gris-2: #B9B9B9;
$nicybuy__gris-3: #878787;
$nicybuy__fondo: #eeeeee;
$nicybuy__texto: #3B3B3B;
$nicybuy__morado: #8847E2;

//FONT-FAMILY
$nicybuy__font-family: sans-serif;


//FONT-SIZE
$mobile__extra-small: 12px;
$mobile__small: 15px;
$mobile__normal: 18px;
$mobile__normal2: 20px;
$mobile__big: 25px;
$mobile__huge: 30px;